@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Source+Code+Pro:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 500;
    color: #212529;
}

/* headings and logo */


h1,
h2 {
    font-family: 'Source Code Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #343a40;
}

#logo {
    float: left;
    font-size: 250%;
    border-style: solid;
    border-bottom-style: groove;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 3px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #212529;
}

.active {
    border-bottom: 1px solid #212529;
}


/* background video */

video#bgvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("assets/images/placeholder.jpg") no-repeat;
    background-size: cover;
}

#hook-text {
    font-size: 130%;
    font-family: 'Cormorant Garamond', sans-serif;
    text-align: center;
    line-height: 30px;


    width: 450px;
    height: 250px;
    border-radius: 50%;

    padding-top: 55px;
    padding-right: 10px;
    padding-bottom: -30px;
    margin: 30px;

    background-color: rgba(174, 174, 142, 0.4);
    bottom: 530px;

    right: 630px;

    position: absolute;

}

#hook-text,
#hook-text h2 {
    color: #212529;
}

#hook-text h2 {font-size: 120%;
}