@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Source+Code+Pro:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    color: #343a40;
}

/* headings and logo */


h1,
h2, h3 {
    font-family: 'Cormorant Garamond', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #212529;
    
   
    
}

#logo {
    float: left;
    border-style: solid;
    margin-left: 30px;
    margin-top: 20px;
    padding: 3px 20px;
    text-align: center;
    color: #343a40;

    line-height: 55px;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 3px;
    float: right;
}

#menu {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #212529;
}

.active {
    border-bottom: 1px solid #212529;
}


/* background video */


video#bgvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("assets/images/placeholder.jpg") no-repeat;
    background-size: cover;
}

#hook-outer {
    height: 210px;
    width: 100%;
    overflow: hidden;

}

#hook-text {
    font-family: 'Source Code Pro', sans-serif;
    text-align: center;
    line-height: 30px;
    padding: 20px;
    margin: 50px;
    border: 2px solid;
    border-radius: 50%;
    bottom: 530px;
    float: right;
    width: -moz-fit-content;
    width: fit-content;
}

#hook-text,
#hook-text h2 {
    color: #212529;

}

#hook-text h2 {
    font-size: 150%;
}

/* tips and tricks section */

#tips-tricks {
    height: fit-content;
    padding: 30px;
    text-align: center;
    font-size: larger;
    line-height: 50px;
    background-color: rgba(174, 174, 142, 0.5);
    margin: 0 auto;
    display: block;

}
#tips-tricks hr {
    margin: 30px;
}

#nobull {
    list-style-type: none;
}


/* carrot fritters section */

#fritters-recipe {
    height: 450px; 
    padding: 20px;
    text-align: center;
    font-size: larger;
    line-height: 45px;
    background-color: rgba(174, 174, 142, 0.5);
    
    
}


 
#left-ingredients {
    width: 33%;
    float: left;
    
}

#right-method {
    width: 33%;
    float: right;
}

#center-picture {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}


/* footer */
    
footer {
    text-align: center;
    height: fit-content;
    
}

.social-media {
    margin: 10px;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1px;
    padding: 20px;
    color: #3a3a3a;
}

