@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Source+Code+Pro:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 500;
    color: #212529;
}

/* headings and logo */


h1,
h2 {
    font-family: 'Source Code Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #343a40;
}

#logo {
    float: left;
    font-size: 250%;
    border-style: solid;
    border-bottom-style: groove;
    margin-left: 30px;
    margin-top: 30px;
    padding: 2px 10px;
    text-align: center;
    
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 3px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #212529;
}

.active {
    border-bottom: 1px solid #212529;
}


/* background video */


video#bgvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("assets/images/placeholder.jpg") no-repeat;
    background-size: cover;
}

#hook-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    
    
}

#hook-text {
    font-family: 'Source Code Pro', sans-serif;
    text-align: center;
    line-height: 30px;
    width: 460px;
    height: 190px;
    
    padding: 20px;
    margin: 50px;
    border-style: solid;
    border-radius: 50%;
    
    bottom: 530px;
   
    float: right;
}

#hook-text,
#hook-text h2 {
    color: #212529;
    
}

#hook-text h2 {
    font-size: 170%;
}

/* tips and tricks section */

#tips_tricks {
    height: 400px;
padding: 20px;
    text-align: center;
    font-size: 150%;
    line-height: 50px; 
    background-color: rgba(174, 174, 142, 0.4);
    
}

.nobull {
    list-style-type: none;
}
